.container {
  display: flex;
  background-color: bisque;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;

  .avatar {
    border-radius: 50%;
    min-width: 100px;
    height: 100px;
    margin: auto;
  }

  .without_avatar {
    box-sizing: border-box;
    border-radius: 50%;
    min-width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: auto;
  }

  .info {
    text-align: center;
    width: 100%;
  }
}